
@{
    ViewBag.Title = "HighSchoolGrade";
}

<h2>HighSchoolGrade</h2>
<input type="number" id="grade" placeholder="Enter Grade" />
<br />
<br />
<input type="button" id="sbmtBtn" value="Submit" />

<script src="~/Scripts/jquery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/practice/Grade.js"></script>