
@{
    ViewBag.Title = "VehicleSpeed";
}

<h2>VehicleSpeed</h2>
<input type="number" id="vehicleSpeed" placeholder="Enter Vehicle Speed"/>
<br />
<br />
<input type="number" id="speedLimit" placeholder="Enter Speed Limit" />
<br />
<br />
<input type="button" value="Submit" id="sbmt" />
<script src="~/Scripts/jquery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/practice/speed.js"></script>